#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#main {
  display: flex;
  flex-direction: column;
  width:20%;
}

.task {
  display: flex;
  align-items: center;
  border: 1px solid #1c6395;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 60px;
}

.task-completed {
  border-color: #65c965;
  background-color: green;
}

.task div {
  margin-left: 10px;
  margin-right: 5px;
}

.task-title {
  width:100%;
}

.close-button {
  position: relative;
  top: -15px;
  width: 25px;
  height: 25px;
  background: url('assets/close.png');
}

.new-task-title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 15px;
}

.new-task {
  display: flex;
  align-items: center;
}

.new-task button {
  padding:0.3em 1em;
  background-color: #616161;
  border-radius:0px 8px 8px 0px;
}

.new-task input {
  width:100%;
  padding: 0.3em 0.5em;
  font-size:1em;
  margin-left: 10px;
}

.filter-icon {
  width: 30px;
  height: 30px;
  background: url('assets/filter.png');
}

.filter-bar {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.filter-bar label {
  margin-left: 15px;
  margin-right: 5px;
}

.filter-bar select {
  width: 150px;
  font-size: 1em;
  margin-right: 20px;
}

.checkbox {
  position: relative;
}

.checkbox label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 26px;
}

.checkbox label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.checkbox input[type="checkbox"] {
  visibility: hidden;
}

.checkbox input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}